<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias inventore harum aut impedit iure, eligendi, quasi labore asperiores voluptate facilis voluptas ipsum culpa placeat repellat aliquam rerum cum tempore veritatis quaerat. Consequuntur excepturi corporis in beatae eveniet quis, blanditiis enim?</p>
    </div>
</div>