<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas commodi tenetur modi nostrum possimus, vel, reprehenderit sunt dolor, tempora placeat amet aut omnis. Iste, molestiae. Ratione amet consequatur enim ab?</p>
    <a href="http://google.cl" class="btn btn-primary btn-lg">Goggle</a>
</div>